/*Colores*/
$color-AzulVerde:#025157;
$color-Gris-fuerte:#46484c;
$color-fondo:#fffbf7;
$color-Verdelimon:#67b54b;
$color-blanco:white;

/*Fuentes*/
$fuente-Alegreya:"Alegreya",serif;
$fuente-OpenSans:"Open Sans",serif;
$tamanio-fuente-h1:60px;
