/** main.scss */
@use 'global' as *;

.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-family: $fuente-card-text;
          font-size: 30px;
          font-weight: 500;
        }
        & > p {
          font-family: $fuente-card-text;
          color: $dark-green-text;
          margin: 0;
        }
      }
      .process-icon{
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img{
            height: 100%;
        }
      }
    }
  }
  button{
    height: auto;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
  }
  .card-title{
    @extend %base-title-card;
    font-family: $fuente-card-text; 
   
  }
  .metadata{
    @extend %base-card-metadata;
    .category{
        color: #67b54b;
        font-family: $fuente-card-text;
    }
  }
  .card-text{
    @extend %base-card-text;
    .read-more{
        text-decoration: underline;
    }
  }
  .author{

    &  img{
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }
    & p{
        margin-left: 8px;
        font-weight: 600;
        font-size: $tamanio-fuente-metadata;
        color:$color-card-title;
    }
  }
  
}
.try-it{
    padding: 5% 5% 2%;
    background-color: $color-ligth-green;
    margin-top: -30px;
    & h2{
      color: $color-try-it;
      font-size: $fuente-h2-try-it;
      font-family: $font-title;
    }
    & input{
      border: 1px solid $color-card-metadata;
      padding: 6px 20px;
      width: 60%;
      max-width: 250px;
      border-radius: 6px;
      height: 100%;
    }
    & button{
      height: 100%;
      border: none;
      border-radius: 8px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 6px 20px;
      margin-left: -10px;
      
    }
    & p{
      color:$white;
      font-size: $tamanio-fuente-metadata;
      font-weight: $peso-fuente-metadata;
    }
  }
  .cta{
    padding: 5% 10% 0;
    margin: 0;
    max-width: unset;
    .box{
      background-color: $color-try-it;
      color:$white;
      padding: 5%;
      border-radius: 10px;
      & h2{
        font-family: $font-title;
        font-size: 34px;
        max-width: 340px;
        line-height: 1.3;
      }
      & p{
        font-family: $fuente-card-text;
        color:$white;
        margin-top: 15px;
        line-height: 25px;
        font-weight: $peso-fuente-metadata;
        font-size: 17px;
        & a{
          color: $color-ligth-green;
        }
      }
      & form button{
        background-color: #67b54b;
      }
      & form input,  form button{
        vertical-align: middle;
      }
      & form +p {
        color: #b3cbcd;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    max-width: 340px;
      }
    }
  }