@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");
body{
    background-color: #fffbf7;

    /*background-color: antiquewhite;*/
}
h1 {
    color: #025157;
    text-align: center;
    font-size: 60px;
  }
  p {
      color: #8b8b8bcc;
      font-family: Verdana;
      font-size: 20px;
      margin-top: 15px;
  }
  button {
    background-color: #025157;
    color: #fff;
    border: none; 
     border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
    height: 100%;
  }
input{
  border: 1px solid #979797;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    border-radius: 6px;
    height: 100%;
}
 
  figure {
      margin-top: 32px;
  }
  figure.intro > img{
      width: 70%;

  }
  img {
      vertical-align: middle;
      border-style: none;
  }
  .header {
    /*margin-top: 40px 20px 0;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0;
    font-family: sans-serif;
    height: 45px;
    font-size: 0;
    
    
  }
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    
  }
  .navbar {
    
    text-align: center;
    color: #025157;
    font-weight: 500;
   }
   .color-menu{
    color: #025157;
    font-weight: 500;
    text-decoration: none;
   }
   .menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  .logo {
    width: 15%;
  }
  .logo > img {
    width: 15%;
  }
  
   
  .actions {
    /* width: 15%; */
    text-align: right;
    font-weight: 600;
    font-size: 14px;
  }
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  .actions a {
    color: #67b54b;
  }
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  } 
  .main {
    margin-top: 285px;
    text-align: center;
  }
  .main h1{
   
    font-family: "Alegreya", serif;
  }
  .font_uno{
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;
  }
  .font_dos{
    font-family: 'Nunito', sans-serif;
  }
  .video1{
    width: 480px;
  }
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  .publish {
    margin-left: 30px;
  }
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
    align-items: center;
    
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }
  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;

  }
  .articulo-video{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .articulo-video > img{
    width: 50px;
    margin-top: 10px;
  }
  .fixed-heder{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 1030;
  }

/*features*/
.features {
  
  /*grid-template-columns: 300px 300px; esto es una manera de darle el tamaño a las columnas */ 
 /* grid-template-columns: repeat(2, 300px);esta es otra manera de hacerlo*/
 /*grid-template-columns: 1fr 1fr;*/
 /*practica de sesion*/
  /*grid-template-columns: repeat(2,1fr);*/
  /*grid-template-rows: repeat(2,330px);*/
  /*agregar alto al contenerdor para poder usar la unidad fr*/
  /* height: 660px;
  grid-template-rows: repeat(2,1fr); */
  /**/
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  height: 660px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}
.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: 0;
}
.features .feature-card .feature-content img {
  width: 50px;
}
.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  margin-top: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}
.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}
.features .feature-card .feature-image figure, .features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}
/*fin features*/

  /*miembros*/
  .succes-stories {
    display: flex;
    background-color: #a1d683;
    align-items: center;    
    justify-content: space-around;
    padding: 5% 15%;
    
  }
  .succes-stories .overview{
    flex: 2;
    padding-right: 100px;
  }
  .succes-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
  }
  .succes-stories .overview p {
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .succes-stories .overview button {
    height: 45px;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    font-weight: 600;
    margin-left: 0;
  }
  .succes-stories .overview img {
    width: 500px;
    max-width: 100%;
  }


  .succes-stories .stories-carousel {
    flex: 1;
   
  }
  .succes-stories .stories-carousel .card {
    max-width: 370px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    
  }
  .succes-stories .stories-carousel .card .card-media {
    position: relative;
  }
  .succes-stories .stories-carousel .card .card-media figure {
    margin-top: 0;
  }
  .succes-stories .stories-carousel .card .card-media img {
    width: 100%;
    /* max-height: 16vw; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .succes-stories .stories-carousel .card .card-media .company {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 20px;
    bottom: -20px;
    background-color: #f9da73;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .success-stories .stories-carousel .card .card-media .company img {
    max-width: 75%;
  }
  .card-body {
    max-width: 370px;
    width: 100%;
    position: relative;
    padding: 40px 1rem 1rem;
  }
 .card-footer {
    padding: 25px;
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
  }
.succes-stories .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  font-family: "Slabo 27px", serif;
}
.succes-stories .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.succes-stories .stories-carousel .card .card-body .results{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.succes-stories .stories-carousel .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}
.results p {
  margin-top: 0;
  color: #343434;
  font-size: 16px;
}
.card-footer{
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
  background-color: #025157;
  color: #fff;
  border: none;
}
.card-footer button{
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}

.success-stories {
  background-color: #A1D683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}
.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}
.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}
.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}
  /*fin miembros*/

/*Como funciona*/
.comoFuncionaMatcha{
 background-color: #fffbf7;
 padding: 5% 10%;
text-align: center;
}
.comoFuncionaMatcha .titulo {
  font-size: 50px;
  color: #025157;
  font-family: "Alegreya", serif;
  line-height: 1.5;
}
.comoFuncionaMatcha .description {
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comoFuncionaMatcha .description a{
  font-size: 18px;
    color: #67b54b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
.comoFuncionaMatcha button {
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  border-radius: 8px;
  margin-top: 6px;
}
.comoFuncionaMatcha .pasos {
  display: grid;
  margin: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.comoFuncionaMatcha .pasos .card-pasos {
  background-color: #fff;
  margin: 5%;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #dadada;
  margin-bottom: 0;
  padding-bottom: 0;
}
.comoFuncionaMatcha .pasos .card-pasos .card-pasos-image{
  position: relative;
    height: 350px;
}
.comoFuncionaMatcha .pasos .card-pasos .card-pasos-image .card-pasos-bg{
  width: 100%;
 
}

.comoFuncionaMatcha .pasos .card-pasos .card-pasos-body h1{
  font-size: 30px;
  color: #025157;
  font-family: "Alegreya", serif;
  line-height: 1.5;
  text-align: center;
}
.comoFuncionaMatcha .pasos .card-pasos .card-pasos-body{
  padding: 25px;
}
.comoFuncionaMatcha .pasos .card-pasos .card-pasos-body p{
  color: #46484c;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  height: 85px;
  margin-bottom: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comoFuncionaMatcha .pasos .card-pasos .card-pasos-body a{
  font-size: 16px;
    line-height: 1.4;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
/*fin como funciona*/
/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .actions,
  .navbar {
    text-align: center;
  }
  .main{
    margin-top: 100px;
  }
   h1{
    font-size: 30px;
  }
  .banner > img {
    width: 100%;
  }
  
  .publish form {
    flex-direction: column;
  }
  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }
  .publish > form > div > input {
    width: 65%;
  }
  .promo{
    flex-direction: column;
    max-width: 90%;
  }
  .video1{
    width: 100%;
  }
  .publish {
    margin-top: 10px;
  }
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }
.features{
  grid-template: repeat(4, 1fr) / 1fr;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.feature-image { 
  display: none;
}  
.succes-stories {
  flex-direction: column;
  
  max-width: 100%;
}
.succes-stories .overview{
  padding: 0;
  width: 100%;
}
.succes-stories .stories-carousel{
  width: 100%;
 
}
.comoFuncionaMatcha{
  padding: 0%;
}
.comoFuncionaMatcha .pasos{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
}

  
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  .actions,
  .navbar {
    text-align: center;
  }
  .main{
    margin-top: 100px;
  }
   h1{
    font-size: 30px;
  }
  .banner > img {
    width: 100%;
  }
  
  .publish form {
    flex-direction: column;
  }
  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }
  .publish > form > div > input {
    width: 65%;
  }
  .promo{
    flex-direction: column;
    max-width: 90%;
  }
  .video1{
    width: 100%;
  }
  .publish {
    margin-top: 10px;
  }
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }
.features{
  grid-template: repeat(4, 1fr) / 1fr;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.feature-image { 
  display: none;
}  
.succes-stories {
  flex-direction: column;
  
  max-width: 100%;
}
.succes-stories .overview{
  padding: 0;
  width: 100%;
}
.succes-stories .stories-carousel{
  width: 100%;
 
}
.comoFuncionaMatcha{
  padding: 0%;
}
.comoFuncionaMatcha .pasos{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.comoFuncionaMatcha .pasos .card-pasos .card-pasos-image .card-pasos-bg {
  width: 50%;
}
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .actions,
  .navbar {
    text-align: center;
  }
  .main{
    margin-top: 100px;
  }
   h1{
    font-size: 30px;
  }
  .banner > img {
    width: 100%;
  }
  
  .publish form {
    flex-direction: column;
  }
  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }
  .publish > form > div > input {
    width: 65%;
  }
  .promo{
    flex-direction: column;
    max-width: 90%;
  }
  .video1{
    width: 100%;
  }
  .publish {
    margin-top: 10px;
  }
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }
.features{
  grid-template: repeat(4, 1fr) / 1fr;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.feature-image { 
  display: none;
}  
.succes-stories {
  flex-direction: column;
  
  max-width: 100%;
}
.succes-stories .overview{
  padding: 0;
  width: 100%;
}
.succes-stories .stories-carousel{
  width: 100%;
 
}
.comoFuncionaMatcha{
  padding: 0%;
}
.comoFuncionaMatcha .pasos{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.comoFuncionaMatcha .pasos .card-pasos .card-pasos-image .card-pasos-bg {
  width: 50%;
}

}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}