.modelo_caja{
   
    background-color:bisque;
    width: 500px;
    padding: 40px 35px 15px 10px;/*top, right, bottom, left  funciona en la direccion a las manesillas del reloj*/
    border: solid 4px blueviolet; /*el border se define con tres propiedades: estilo, anchura y color */
    border-bottom-color: #999393;
    margin: 40px 200px ;/*el margen no contiene color de fondo de la caja siempre será transparente su sintaxis será igual al depadding*/

}
.cuadrado{
    width: 200px;
    height: 200px;
    background-color: chocolate;
    margin-bottom: 20px;
    display: inline-block;
}
a{
    display: block;
}
/*.contenedor{
    display: flex;
}*/
.video1{
    width: 320px;
    height: 240px;
}
.cuadradoFlex{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 1.4rem;
    margin: 10px;
    color: azure;
    background-color: rgb(25, 73, 67);  
}
.flex-container{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    /*justify-content: center;*/
    justify-content:center;
    background-color: grey;
    padding: 10px;
}
.cuadradoFixed{
    background-color: brown;
    height: 40px;
    line-height: 2.5em;
    color: azure;
    position: sticky;
    top: 0px;
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
}