@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:wght@200&display=swap');
body{
    background-color: #fffbf7;
    /*background-color: antiquewhite;*/
}
h1 {
    color: #025157;
    text-align: center;
   
  }
  p {
      color: #8b8b8bcc;
      font-family: Verdana;
      font-size: 20px;
      margin-top: 15px;
  }
  button {
      color: #fff;
      background-color: #025157;
      border: #025157;
  }
  figure {
      margin-top: 32;
  }
  figure.intro > img{
      width: 70%;

  }
  img {
      vertical-align: middle;
      border-style: none;
      margin: 1em;
  }
  .header {
    /*margin-top: 40px 20px 0;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0;
    font-family: sans-serif;
    height: 45px;
    font-size: 0;
    
    
  }
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    
  }
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    /*font-weight: 500;*/
   }
   .menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  .logo {
    width: 15%;
  }
  .logo > img {
    width: 15%;
  }
  
   
  .actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
  }
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  .actions a {
    color: #67b54b;
  }
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  } 
  .main {
    margin-top: 140px;
    text-align: center;
  }
  .font_uno{
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;
  }
  .font_dos{
    font-family: 'Nunito', sans-serif;
  }
  